div {
	border: dashed black 3px;
	text-align: center;
	margin: 0px 100px 0px 100px;
}

p {
	text-align: left;
	margin-top: 0px;
	margin-left: 15px;
	margin-right: 15px;
	font-size: 15px;
	font-weight: 200;
}

h1 {
	border-bottom: dashed black;
	margin-top: 0px;
	font-family: 'Gasoek One', sans-serif;
	font-style: italic;
	font-size: 38px;
	font-weight: 900;
}

ul, li {
	background: #F5F5DC;
	list-style-type: none;
	font-style: italic;
	font-weight: 100;
	line-height: 1.1;

}

span {
	font-size: 25px;
	font-weight: 900;
}

.copyright {
	text-align: center;
	margin: auto;
	margin-bottom: 10px;
}