.pink-background {
	background: pink;
	font-family: Verdana, "DejaVu sans", "sans-serif";
}

#first-ID {
	color: rgb(0, 0, 255);
	font-size: 36px;
}

#second-ID{
	background: #33ff33;
	font-size: 24px;
	font-weight: bold;
}

.cool {
	font-size: 24px;
}
/*style="font-size:24px"*/